schema/nffg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:tns="http://www.example.org/nffg/"
		xmlns:net="http://www.example.org/net/"
		xmlns:resp="http://www.example.org/response/" 
		targetNamespace="http://www.example.org/nffg/" 
		elementFormDefault="qualified">
		
	<import namespace="http://www.example.org/net/" schemaLocation="net_types.xsd"/>
	<import namespace="http://www.example.org/response/" schemaLocation="response_types.xsd"/>
		
	<annotation>
    	<documentation xml:lang="it">
     		 Il formato prevede si possa avere come radice "nffg-set" oppure "nffg".
     		 Nel primo caso ci sono più nffg contenuti nello stesso documento XML.
    	</documentation>
  	</annotation>
	
	<group name="L2HeaderParameters">
		<sequence>
			<element name="mac" minOccurs="0">
				<complexType>
					<attribute name="src" type="net:macAddressType" use="optional"/>
					<attribute name="dst" type="net:macAddressType" use="optional"/>
					<attribute name="ethertype" type="net:ethertypeType" use="optional"/>
					<attribute name="vlanId" type="net:vlanIdType" use="optional"/>
					<attribute name="vlanPcp" type="net:vlanPcpType" use="optional"/>
				</complexType>
			</element>
		</sequence>
	</group>
	
	<group name="L3HeaderParameters">
		<sequence>
			<element name="ip" minOccurs="0">
				<complexType>
					<attribute name="src" type="net:ipAddressType" use="optional"/>
					<attribute name="dst" type="net:ipAddressType" use="optional"/>
					<attribute name="ipProtocol" type="unsignedByte" use="optional"/>
					<attribute name="tos" type="unsignedByte" use="optional"/>
				</complexType>
			</element>
		</sequence>
	</group>
	
	<group name="L4HeaderParameters">
		<choice>
			<element name="tcp" minOccurs="0">
				<complexType>
					<attribute name="src" type="net:portNumberType" use="optional"/>
					<attribute name="dst" type="net:portNumberType" use="optional"/>
				</complexType>
			</element>
			<element name="udp" minOccurs="0">
				<complexType>
					<attribute name="src" type="net:portNumberType" use="optional"/>
					<attribute name="dst" type="net:portNumberType" use="optional"/>
				</complexType>
			</element>
		</choice>
	</group>
	
	<element name="nffg-set">
		<complexType>
			<sequence>
				<element ref="tns:nffg" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
		<unique name="nffgIdUnique">
	      	<selector xpath="tns:nffg"/>
	      	<field xpath="@id"/>
	    </unique>  
	</element>
		
	<element name="nffg">
		<complexType>
		    <sequence>
	    		<element name="endpoints" type="tns:epointsType"/>
	    		<element name="network_functions" type="tns:nfunctionsType"/>
	    		<element name="network_elements" type="tns:nelementsType"/>
	    		<element name="monitoring_parameters" type="tns:monParamsType"/>	
	    	</sequence>
	    	<attribute name="id" type="tns:nffgIdType" use="optional"/>
	    	<attribute name="version" type="string" use="optional"/>
	    </complexType>
		<unique name="epIdUnique">
	      	<selector xpath="tns:endpoints/tns:endpoint"/>
	      	<field xpath="@id"/>
	    </unique>
	    <unique name="nfIdUnique">
	      	<selector xpath="tns:network_functions/tns:network_function"/>
	      	<field xpath="@id"/>
	    </unique>
	    <unique name="cpIdUnique">
	      	<selector xpath="tns:network_functions/tns:network_function/tns:connection_points/tns:connection_point"/>
	      	<field xpath="@id"/>
	    </unique>
	    <unique name="portIdUnique">
	      	<selector xpath="tns:network_functions/tns:network_function/tns:connection_points/tns:connection_point/tns:port"/>
	      	<field xpath="@id"/>
	    </unique>
	    <unique name="ciIdUnique">
	      	<selector xpath="tns:network_functions/tns:network_function/tns:control_interfaces/tns:control_interface"/>
	      	<field xpath="@id"/>
	    </unique>
	    <unique name="neIdUnique">
	      	<selector xpath="tns:network_elements/tns:network_element"/>
	      	<field xpath="@id"/>
	    </unique>
	    <unique name="epcpIdRefUnique">
	    	<selector xpath="tns:network_elements/tns:network_element/tns:eps-cps/tns:ep-cp"/>
	    	<field xpath="@id_ref"/>
	    </unique>
	</element>
	
	<complexType name="monParamsType">
		<sequence>
			<element name="parameter" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<attribute name="value" type="NMTOKENS" use="required"/>
				</complexType>
			</element>		
		</sequence>
	</complexType>

    <simpleType name="nffgIdType">
    	<restriction base="string">
    		<pattern value="nffg_\d+"/> 
    	</restriction>
    </simpleType>
    
    <complexType name="epointsType">
    	<sequence>
    		<element name="endpoint" type="tns:epType" minOccurs="0" maxOccurs="unbounded"/>
    	</sequence>
    </complexType>
    
    <complexType name="epType">
    	<sequence>
			<element name="flowspace">
		    	<complexType>
		    		<sequence>
		    			<group ref="tns:L2HeaderParameters"/>
		    			<group ref="tns:L3HeaderParameters"/> 
		    			<group ref="tns:L4HeaderParameters"/> 
		    		</sequence>
		    		<attribute name="nodeId" type="string" use="optional"/>
		    		<attribute name="ingPhysPort" type="string" use="optional"/>
		    	</complexType>
		    </element>
    	</sequence>
    	<attribute name="id" type="tns:epIdType" use="required"/>
    </complexType>
    
    <simpleType name="epIdType">
    	<restriction base="string">
    	<!-- relaxed name constraint -->
    	<!-- <pattern value="ep_\d+"/> -->
    		<pattern value="\w+_\d+"/>  
    	</restriction>
    </simpleType>
    
    <complexType name="nfunctionsType">
    	<sequence>
    		<element name="network_function" type="tns:nfType" minOccurs="0" maxOccurs="unbounded"/>
    	</sequence>
    </complexType>
    
    <complexType name="nfType">
    	<sequence>
    		<element name="specification" type="tns:specType"/>
    		<element name="connection_points" type="tns:cpointsType"/>
    		<element name="control_interfaces" type="tns:ctrlInterfacesType"/>
    		<element name="monitoring_parameters" type="tns:monParamsType"/>
    	</sequence>
    	<attribute name="id" type="tns:nfIdType" use="required"/>
    	<attribute name="functionalType" type="string" use="required"/>
    </complexType>
    
    <simpleType name="nfIdType">
    	<restriction base="string">
<!--     		relaxed name constraint
    		<pattern value="nf_\d+"/>  -->
    		<pattern value="\w+_\d+"/> 
    	</restriction>
    </simpleType>
    
    <complexType name="specType">
    	<sequence>
    		<element name="deployment">
    			<complexType>
    				<attribute name="type" type="string" use="optional" default="N.A."/>
    			</complexType>
    		</element>
    		<element name="image">
    			<complexType>
    				<attribute name="uri" type="anyURI" use="optional" default="N.A."/>
    			</complexType>
    		</element>
    		<element name="cpu">
    			<complexType>
    				<attribute name="model" type="string" use="optional" default="N.A."/>
    				<attribute name="architecture" type="string" use="optional" default="N.A."/>
    				<attribute name="numCores" type="unsignedByte" use="optional" default="1"/>
    				<attribute name="clockSpeed" type="string" use="optional" default="N.A."/>
    			</complexType>
    		</element>
    		<element name="memory">
    			<complexType>
    				<attribute name="type" type="string" use="optional" default="N.A."/>
    				<attribute name="size" type="string" use="optional" default="N.A."/>
    			</complexType>
    		</element>
    		<element name="storage">
    			<complexType>
    				<attribute name="type" type="string" use="optional" default="N.A."/>
    				<attribute name="size" type="string" use="optional" default="N.A."/>
    			</complexType>
    		</element>
    	</sequence>
    </complexType>
    
    <complexType name="cpointsType">
    	<sequence>
    		<element name="connection_point" type="tns:cpType" maxOccurs="unbounded"/>
    	</sequence>
    </complexType>
    
    <complexType name="cpType">
    	<sequence>
    		<element name="port" type="tns:portType"/>
    	</sequence>
    	<attribute name="id" type="tns:cpIdType" use="required"/>
    </complexType>
    
    <complexType name="portType">
    	<attribute name="id" type="unsignedShort" use="required"/>
    	<attribute name="direction" type="tns:portDirEnumType" use="required"/>
    	<attribute name="type" type="string" use="optional" default="N.A."/>
    </complexType>
    
    <simpleType name="portDirEnumType">
    	<restriction base="string">
    		<enumeration value="in"/>
    		<enumeration value="out"/>
    		<enumeration value="both"/>
    	</restriction>
    </simpleType>
    
    <simpleType name="cpIdType">
    	<restriction base="string">
<!--     		relaxed name constraint
    		<pattern value="cp_\d+"/> -->
    		<pattern value="[a-zA-Z0-9_-]*"/> 
    	</restriction>
    </simpleType>
    
    <complexType name="ctrlInterfacesType">
    	<sequence>
    		<element name="control_interface" type="tns:ciType" minOccurs="0" maxOccurs="unbounded"/>
    	</sequence>
    </complexType>
    
    <complexType name="ciType">
    	<sequence>
    		<element name="attributes">
    			<complexType>
    				<sequence>
    					<element name="attribute" minOccurs="0" maxOccurs="unbounded">
    						<complexType>
    							<attribute name="value" type="string" use="required"/>
    						</complexType>
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    	</sequence>
    	<attribute name="id" type="tns:ciIdType" use="required"/>
    </complexType>
    
    <simpleType name="ciIdType">
    	<restriction base="string">
<!--     		relaxed name constraint
    		<pattern value="ci_\d+"/> -->
    		<pattern value="[a-zA-Z0-9_-]*"/>  
    	</restriction>
    </simpleType>
    
    <complexType name="nelementsType">
    	<sequence>
    		<element name="network_element" type="tns:neType" minOccurs="0" maxOccurs="unbounded"/>
    	</sequence>
    </complexType>
    
    <complexType name="neType">
    	<sequence>
    		<element name="eps-cps" type="tns:eps-cpsType"/>
    		<element name="monitoring_parameters" type="tns:monParamsType"/>
    	</sequence>
    	<attribute name="id" type="tns:neIdType" use="required"/>
    	<attribute name="type" type="string" use="required"/>
    </complexType>
    
    <simpleType name="neIdType">
    	<restriction base="string">
    		<pattern value="ne_\d+"/> 
    	</restriction>
    </simpleType>
    
    <complexType name="eps-cpsType">
    	<sequence>
    		<element name="ep-cp" type="tns:ep-cpType" minOccurs="0" maxOccurs="unbounded"/>
    	</sequence>
    </complexType>
    
    <complexType name="ep-cpType">
    	<sequence>
    		<element name="flowrules" type="tns:flowrulesType" minOccurs="0" maxOccurs="unbounded"/>
    	</sequence>
    	<attribute name="id_ref" type="string" use="required"/>
    </complexType>
    
    <complexType name="flowrulesType">
    	<sequence>
    		<element name="flowspace">
		    	<complexType>
		    		<sequence>
		    			<group ref="tns:L2HeaderParameters"/>
		    			<group ref="tns:L3HeaderParameters"/> 
		    			<group ref="tns:L4HeaderParameters"/>
		    		</sequence>
		    		<attribute name="ingPort" type="string" use="optional"/>
		    	</complexType>
    		</element>
    		<element name="actions" type="tns:actionsType"/>
    	</sequence>
    </complexType>
    
    <complexType name="actionsType">
	    <sequence>
	    	<!-- make action optional
	    	<element name="action" type="tns:actionType" maxOccurs="unbounded"/> -->
	    	<element name="action" type="tns:actionType" minOccurs="0" maxOccurs="unbounded"/>
	    </sequence>
    </complexType>
    
    <complexType name="actionType">
    	<attribute name="type" type="tns:actionEnumType" use="required"/>
    	<attribute name="port" type="string" use="optional"/>
    </complexType>
    
  	<simpleType name="actionEnumType">
    	<restriction base="string">
    		<enumeration value="discard"/>
    		<enumeration value="output"/>
    	</restriction>
    </simpleType>	
</schema>